<%- include('../partials/header', { title: 'Archetypes' }) %>

    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-12">
                <h1 class="text-start" data-translate="brand_archetypes">Arquétipos de Marca</h1>
            </div>
            <div class="col">
                <div class="m-xl-5 p-xl-5"><img class="rounded img-fluid w-100 fit-cover min-h-300"
                        src="assets/img/cardsColor/cardwheel.webp?v=<%= version %>" alt="" data-translate="cardwheel_alt"></div>
            </div>
            <div
                class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div class="mw-350">
                    <p class="text-start my-3" data-translate="archetypes_intro">Desenvolvemos nossa própria
                        classificação de arquétipos de marca, expandindo arquétipos de outras metodologias e usando um
                        sistema de cartas para identificá-los.</p>
                    <h2 class="text-start" data-translate="what_is_archetype">O que é um arquétipo de marca?</h2>
                    <p class="text-start my-3" data-translate="archetype_definition">Um arquétipo de marca é uma
                        representação simbólica ou modelo que simboliza um conjunto de valores ou características comuns
                        associados a uma determinada marca. Esses arquétipos são frequentemente baseados em mitos,
                        histórias e lendas e podem ser usados para ajudar a criar uma personalidade e identidade para
                        uma marca. Eles são frequentemente usados em publicidade e marketing para ajudar a transmitir
                        uma mensagem e criar uma conexão emocional com os consumidores. Nossa classificação é mais ampla
                        do que a comumente usada, a fim de abranger um número maior de negócios que existem hoje e são
                        mais nichados do que antes.</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>