<%- include('../partials/header', { title: 'Contact' }) %>

    <section class="py-4 py-xl-5">
        <div class="container p-4">
            <div class="row mb-5">
                <div class="col col-md-12">
                    <h1 class="text-start" data-translate="contato">Contato</h1>
                    <p class="text-start" data-translate="contato_perguntas">Se você tiver alguma dúvida sobre a
                        aplicação que não esteja coberta neste manual, sinta-se à vontade para enviar sua pergunta.</p>
                    <p class="text-start" data-translate="contato_erros">Além disso, se encontrar algum erro, por favor
                        nos avise, seremos imensamente gratos.<br>Para tanto, você pode usar o formulário ou nos
                        contatar diretamente pelos canais indicados. Responderemos o mais rápido possível.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-start">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="d-flex h-100 flex-column justify-content-center align-items-start">
                        <div class="d-flex align-items-center p-3">
                            <div
                                class="d-flex flex-shrink-0 justify-content-center align-items-center bs-icon-md bs-icon-rounded bs-icon-primary d-inline-block bs-icon">
                            </div>
                            <div class="px-2">
                                <h6 class="mb-0" data-translate="whatsapp">WhatsApp</h6>
                                <a href="https://wa.me/<%= contact.whatsapp.number %>?text=<%= encodeURIComponent(contact.whatsapp.message) %>"
                                    target="_blank" data-translate="enviar_mensagem">Enviar mensagem</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>