<%- include('../partials/header', { title: 'Home' }) %>

    <section class="hero-gradient">
        <div data-bs-parallax-bg="true" class="hero-parallax">
            <div class="container h-100">
                <div class="row h-100">
                    <div
                        class="col-md-9 p-4 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 data-translate="quick_guide">Guia Rápido de Identidade Visual Digital</h1>
                            <p class="fs-6 fw-bold my-3" data-translate="guide_description">Regras sobre o uso correto
                                da identidade pessoal, cores, tipografia, logotipo e outros aspectos importantes da
                                comunicação visual.</p>
                            <p class="my-3" data-translate="access_menu">Acesse o menu para encontrar o item desejado ou
                                use os botões de links rápidos abaixo.</p>
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-primary me-2" role="button" href="logotype.html"
                                    data-translate="logo">Logotipo</a>
                                <a class="btn btn-outline-primary me-2" role="button" href="colors.html"
                                    data-translate="colors">Cores</a>
                                <a class="btn btn-outline-primary me-2" role="button" href="typography.html"
                                    data-translate="typography">Tipografia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>