<%- include('../partials/header', { title: 'terms' }) %>

    <section class="py-4 py-xl-5">
        <div class="container p-4">
            <div class="row mb-5">
                <div class="col">
                    <h1 class="text-start" data-translate="terms_of_use">Termos de Uso</h1>
                    <p class="text-start" data-translate="acceptance_of_terms"><strong>Aceitação dos Termos de
                            Uso</strong><br><br>Ao acessar e usar o Manual de Identidade Visual Digital (doravante
                        denominado "Manual"), você concorda em cumprir e estar legalmente vinculado por estes Termos de
                        Uso. Se você não concorda com estes Termos de Uso, não use o Manual.<br><br></p>
                    <p class="text-start" data-translate="authorized_use"><strong>Uso Autorizado</strong><br><br>O uso
                        dos arquivos fornecidos no Manual é exclusivo para parceiros e fornecedores da empresa, sendo
                        proibido o uso por terceiros não autorizados. O uso não autorizado dos arquivos será de
                        responsabilidade do infrator.<br><br></p>
                    <p class="text-start" data-translate="copyright"><strong>Direitos Autorais e Propriedade
                            Intelectual</strong><br><br>A marca e os arquivos disponíveis no Manual são protegidos por
                        direitos autorais e leis de direitos autorais. Todos os direitos são reservados, e a reprodução,
                        distribuição, exibição pública, execução, comunicação pública ou qualquer outro uso não
                        autorizado dos arquivos e da marca são expressamente proibidos.<br><br></p>
                    <p class="text-start" data-translate="limitation_of_liability"><strong>Limitação de
                            Responsabilidade</strong><br><br>A empresa não se responsabiliza por danos ou perdas
                        decorrentes do uso indevido dos arquivos e da marca disponíveis no Manual. O infrator será o
                        único responsável por qualquer violação de direitos autorais e de propriedade
                        intelectual.<br><br></p>
                    <p class="text-start" data-translate="changes_to_terms"><strong>Alterações nos Termos de
                            Uso</strong><br><br>A empresa se reserva o direito de alterar estes Termos de Uso a qualquer
                        momento e sem aviso prévio. Ao continuar usando o Manual após a publicação dessas alterações,
                        você concorda em cumprir os Termos de Uso alterados. Recomendamos que você verifique
                        regularmente esta página para se manter informado sobre quaisquer atualizações.<br><br></p>
                    <p class="text-start" data-translate="legislation"><strong>Legislação e
                            Jurisdição</strong><br><br>Estes Termos de Uso são regidos pelas leis do país em que a
                        empresa está registrada. Qualquer disputa relacionada ao uso do Manual, à violação destes Termos
                        de Uso, ou a quaisquer danos causados pelo uso indevido dos arquivos e da marca serão submetidos
                        à jurisdição exclusiva dos tribunais competentes do país em questão.<br><br></p>
                    <p class="text-start" data-translate="final_disclaimer"> Ao usar o Manual, você reconhece que leu e
                        entendeu estes Termos de Uso e concorda em cumpri-los integralmente.<br><br>Se você tiver alguma
                        dúvida sobre estes Termos de Uso, entre em contato conosco através do formulário de contato
                        disponível no Manual. </p>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>